body {
  background-color: #cecece;
}

.navbar {
  background-color: #555;
 /* margin-bottom: 50px;*/
  border-radius: 0;
}

.jumbotron {
   background: #358CCE;
   color: #FFF;
   margin-bottom: 0;
}

.jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: #FFF;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.sortBtns {
  display: inline-block;
}

body > div:nth-child(3) > div > a {
  background-color: #4f4e4e;
  color: #c6c6c6;
  border: 1px solid #898989;
}

body > div:nth-child(3) > div > a:hover {
  background-color: #c6c6c6;
  color: #4f4e4e;
  border: 1px solid #898989;
}

.error	{
  color:#FF293A;
  font-style:italic;
}

.containField {
  display: none;
}

/*----Table Styles-----*//*Table created using http://www.tablesgenerator.com/html_tables# --*/
table {width: 100%;}
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-yzt1{background-color:#efefef;vertical-align:top;text-align:center}
.tg .tg-aq88{background-color:#343434;color:#ffffff;text-align:center}
.tg .tg-wr1b{background-color:#343434;color:#ffffff;vertical-align:top}
